body{
    background-image: url("images/realwallpaper.jpg");
    background-size:contains;
}
.boxedit{
    border-style: solid;
    border-color: rgb(118, 255, 212);
    text-decoration: none;
    background-color: rgb(118, 255, 212);
    padding: 3px 4px 3px 4px
}
.boxedit:visited {
    color:rgb(0, 163, 133);

}
.boxedit:link {
    color:rgb(10, 78, 63);
}
.boxedit:hover {
    color:#107050;
}
.boxedit:active {
    color:rgb(65, 221, 187);
}
nav {
    font-size: 2em;
}
#homepagetitle{
    text-align: center;
}
#instaphoto {
    height: 100px;
}
#fontbigI {
    font-size: 1.5em;
}
.bigfontII {
    font-size: 1.5em;
}
.paddingspace {
    padding: 3px 33px 3px 33px;
}
.center {
    text-align: center;
}
.movebelow {
    margin-bottom: 50px;
}
#canvas {
    margin-top: 2em;
}
main {
    margin-top: 40px;
}
canvas {
    background-color: white;
}
#animation-canvas {
    background-color: white;
}